@{
    ViewBag.Title = "Baja de estado";
}

<h2>Baja de estado</h2>

<form method="post">
    <label>Código</label>
    <input type="text" name="codigo" class="form-control" minlength="4" maxlength="5" required />

    <br />

    <input type="submit" value="Dar de baja" class="btn btn-danger" />
</form>

@if (ViewBag.Mensaje != null)
{
    <br />
    <div class="alert alert-info">@ViewBag.Mensaje</div>
}

<br />

@Html.ActionLink("Volver", "Mantenimiento", "Estado")